#registration-form {
    width: 300px;
    margin: 0 auto;
}
h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="checkbox"],
input[type="file"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

#submitted-data {
    margin-top: 20px;
}
body{
    background-image: url(	https://www.hdwallpapers.in/download/plain_yellow_background_hd_yellow_background-1600x900.jpg);
}